<div class="row" style="margin: 15px;">
    <div class="col">
        <h2>Buscador de Universidades: <small>{{paisSeleccionado}}</small> </h2>
            <div class="col">
                <form action="" autocomplete="off">
                    <button class="boton" (click)="cambiarPais(paises[0])">{{paises[0]}}</button>
                    <button class="boton" (click)="cambiarPais(paises[1])">{{paises[1]}}</button>
                    <button class="boton" (click)="cambiarPais(paises[2])">{{paises[2]}}</button>                
                    <input type="text" class=" texto" name="termino" (input)="presionaTecla()" [(ngModel)]="termino">
                    <ul class="list-group" *ngIf="termino.length!==0">
                        <li *ngFor="let uni of universidades" class="list-group-item" >{{uni.name}}</li>
                    </ul>
                </form>
            </div>
    </div>
</div>


